@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --principal: #4B6587;
    --secundario: #F0E5CF;
    --terciario: #F7F6F2;
    --cuarto: #C8C6C6;
}
/*https://colorhunt.co/palette/f0e5cff7f6f2c8c6c64b6587*/

body{
    font-family: 'Rubik', sans-serif;
}

.principal{
    background-color: var(--terciario);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm{
    border-radius: 10px;
    padding: 0 20px 0 50px;
    background-color: var(--secundario);
    height: 70vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formReact{
    background-color: var(--principal);
    border-radius: 10px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    align-items: center;
    color: var(--terciario);
    padding-top: 0px;
}

img{
    width: 100%;
    border-radius: 10px;
}

.inputsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    margin-bottom: 1%;
    margin-left: 5%;
}

input{
    margin-bottom: 5%;
    margin: 0% 8% 5% 8%;
    width: 85% !important;
}

.welcome-principal{
    height: 100vh;
    background-color: var(--principal);
    color: var(--terciario);
}

.table-welcome{
    color: var(--terciario);
}